In [1]:
import boto3
import pandas as pd
import os
import sys
import json
import requests

In [2]:
os.chdir("..")
os.getcwd()

'/Users/theocostes/Documents/repos/SynchronizeRunningData'

In [3]:
try :
    from config import AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY
except:
    AWS_ACCESS_KEY_ID = os.environ.get("AWS_ACCESS_KEY_ID")
    AWS_SECRET_ACCESS_KEY = os.environ.get("AWS_SECRET_ACCESS_KEY")

In [4]:

s3_bucket = "datarunning"
s3_key_id = "strava_id.csv"
s3_key_activities = "strava.csv"
s3_key_lap = "strava_laps.csv"


print(AWS_ACCESS_KEY_ID)
print(AWS_SECRET_ACCESS_KEY)
# AWS_SESSION_TOKEN = os.getenv("AWS_SESSION_TOKEN")

AKIARGIJGSFVUPB6ZHFM
JevW5SIZ5QtiZF5RkL+khNTGQqyZ0NT0F/66zgF8

In [5]:

s3 = boto3.client(
    "s3",
    aws_access_key_id=AWS_ACCESS_KEY_ID,
    aws_secret_access_key=AWS_SECRET_ACCESS_KEY,
)

In [6]:
try:
    response = s3.get_object(Bucket=s3_bucket, Key=s3_key_activities)
    print(response)
    existing_data_act = pd.read_csv(response['Body'])
except Exception as e:
    # If the file doesn't exist, you might want to handle this case based on your requirements
    print("ERROR :", e)
    existing_data = pd.DataFrame()

{'ResponseMetadata': {'RequestId': '2K657J6JQ1TFH0W6', 'HostId': '7k07jE33O8G3laWJG0gw5MGbsy/ltQMQhhPnYUk0j17ZSONySvK3MYEQb1/q9l3+zvgyExsNtoI=', 'HTTPStatusCode': 200, 'HTTPHeaders': {'x-amz-id-2': '7k07jE33O8G3laWJG0gw5MGbsy/ltQMQhhPnYUk0j17ZSONySvK3MYEQb1/q9l3+zvgyExsNtoI=', 'x-amz-request-id': '2K657J6JQ1TFH0W6', 'date': 'Sun, 04 Feb 2024 15:01:15 GMT', 'last-modified': 'Sun, 04 Feb 2024 15:00:45 GMT', 'etag': '"d0c71858ac0654d908001d34205f9fe4"', 'x-amz-server-side-encryption': 'AES256', 'accept-ranges': 'bytes', 'content-type': 'binary/octet-stream', 'server': 'AmazonS3', 'content-length': '147177'}, 'RetryAttempts': 0}, 'AcceptRanges': 'bytes', 'LastModified': datetime.datetime(2024, 2, 4, 15, 0, 45, tzinfo=tzutc()), 'ContentLength': 147177, 'ETag': '"d0c71858ac0654d908001d34205f9fe4"', 'ContentType': 'binary/octet-stream', 'ServerSideEncryption': 'AES256', 'Metadata': {}, 'Body': <botocore.response.StreamingBody object at 0x163b6a3d0>}

In [7]:
existing_data_act

,id,athlete,name,type,start_date_local,distance,moving_time,total_elevation_gain,sport_type,workout_type,...,pr_count,total_photo_count,suffer_score,numero_semaine_prepa,numero_seance_semaine,type_seance,prepa_name,average_pace,moving_time_minute,moving_time_hour
0,10692823418,98364076,S9/18 - 5/5 - Prépa MDP - Sortie longue,Run,2024-02-04T09:29:49Z,18071.2,6094,62.0,Run,0.0,...,6,0,204.0,S9/18,5/5,Sortie longue,Prépa MDP,5.623243,101.566667,1.692778
1,10682415648,98364076,S9/18 - 4/5 - Prépa MDP - Footing EF,Run,2024-02-02T18:54:45Z,7285.6,2700,25.0,Run,0.0,...,0,0,46.0,S9/18,4/5,Footing EF,Prépa MDP,6.179197,45.000000,0.750000
2,10672381562,98364076,S9/18 - 3/5 - Prépa MDP - Seuil60,Run,2024-02-01T07:17:30Z,11240.6,3750,52.0,Run,0.0,...,3,0,93.0,S9/18,3/5,Seuil60,Prépa MDP,5.560704,62.500000,1.041667
3,10660161665,98364076,S9/18 - 2/5 - Prépa MDP - VMA,Run,2024-01-30T06:30:13Z,7597.5,2704,40.0,Run,0.0,...,0,0,46.0,S9/18,2/5,VMA,Prépa MDP,5.928854,45.066667,0.751111
4,10651550873,98364076,S9 - 1/5 - Prépa MDP - Footing EF,Run,2024-01-29T06:40:30Z,6279.4,2400,51.0,Run,0.0,...,0,0,21.0,S9,1/5,Footing EF,Prépa MDP,6.369427,40.000000,0.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476,6609742721,98364076,Morning Walk,Walk,2021-11-08T08:34:59Z,1005.9,718,14.1,Walk,NaN,...,0,0,NaN,Morning Walk,NaN,NaN,NaN,11.904762,11.966667,0.199444
477,6609742733,98364076,Evening Walk,Walk,2021-11-04T18:16:46Z,1003.2,747,0.0,Walk,NaN,...,0,0,NaN,Evening Walk,NaN,NaN,NaN,12.422360,12.450000,0.207500
478,6609742819,98364076,Morning Walk,Walk,2021-11-04T08:36:11Z,963.1,661,13.6,Walk,NaN,...,0,0,NaN,Morning Walk,NaN,NaN,NaN,11.428571,11.016667,0.183611
479,6609743168,98364076,Evening Walk,Walk,2021-11-03T18:42:43Z,767.9,777,0.0,Walk,NaN,...,0,0,NaN,Evening Walk,NaN,NaN,NaN,16.853933,12.950000,0.215833
480,6609742811,98364076,Morning Walk,Walk,2021-11-03T08:33:08Z,1064.0,765,21.0,Walk,NaN,...,0,0,NaN,Morning Walk,NaN,NaN,NaN,11.976048,12.750000,0.212500

In [8]:
id_act = list(existing_data_act.id)
print(len(id_act), len(set(id_act)))

481 481

In [10]:
new_id = pd.DataFrame({"id": id_act})

from io import StringIO
csv_buffer = StringIO()
new_id.to_csv(csv_buffer, index=False)
s3.put_object(Body=csv_buffer.getvalue(), Bucket=s3_bucket, Key=s3_key_id)

{'ResponseMetadata': {'RequestId': 'QTSE9AW0Y7QFN7MT',
  'HostId': 'F9LQCH59QBL9bp47W7Dh3f/HwehqOdEfOr4Jp/uFrL7O8gl4ihGafWZ+972+nNO7zx3uw3GLj1M2bxT2QC5D6Q==',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'F9LQCH59QBL9bp47W7Dh3f/HwehqOdEfOr4Jp/uFrL7O8gl4ihGafWZ+972+nNO7zx3uw3GLj1M2bxT2QC5D6Q==',
   'x-amz-request-id': 'QTSE9AW0Y7QFN7MT',
   'date': 'Sun, 04 Feb 2024 15:02:41 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"19bbbfdd8e0fa3ad2783a888378b46a7"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"19bbbfdd8e0fa3ad2783a888378b46a7"',
 'ServerSideEncryption': 'AES256'}

In [11]:
try:
    response = s3.get_object(Bucket=s3_bucket, Key=s3_key_id)
    existing_data_id = pd.read_csv(response['Body'])
except Exception as e:
    # If the file doesn't exist, you might want to handle this case based on your requirements
    print("ERROR :", e)
    existing_data = pd.DataFrame()
existing_data_id

              id
0    10692823418
1    10682415648
2    10672381562
3    10660161665
4    10651550873
..           ...
476   6609742721
477   6609742733
478   6609742819
479   6609743168
480   6609742811

[481 rows x 1 columns]

In [10]:
new_id = pd.DataFrame({"id": id_act})

In [11]:
try:
    response = s3.get_object(Bucket=s3_bucket, Key=s3_key_lap)
    print(response)
    existing_data = pd.read_csv(response['Body'])
except Exception as e:
    # If the file doesn't exist, you might want to handle this case based on your requirements
    print("ERROR :", e)
    existing_data = pd.DataFrame()
existing_data

{'ResponseMetadata': {'RequestId': '4Z5PM674PKGGXNHW', 'HostId': 'lhZJyDA0NAEaFIlhMbMLv81S+VutceSK+e5P+FjlwEKH9CPMH8Ti6qG+GRcUoD9WLMoF5DcsgyQ=', 'HTTPStatusCode': 200, 'HTTPHeaders': {'x-amz-id-2': 'lhZJyDA0NAEaFIlhMbMLv81S+VutceSK+e5P+FjlwEKH9CPMH8Ti6qG+GRcUoD9WLMoF5DcsgyQ=', 'x-amz-request-id': '4Z5PM674PKGGXNHW', 'date': 'Sun, 04 Feb 2024 14:36:49 GMT', 'last-modified': 'Sun, 04 Feb 2024 11:50:49 GMT', 'etag': '"4519c123c24b4c66156437090ea3ce71"', 'x-amz-server-side-encryption': 'AES256', 'accept-ranges': 'bytes', 'content-type': 'binary/octet-stream', 'server': 'AmazonS3', 'content-length': '575001'}, 'RetryAttempts': 0}, 'AcceptRanges': 'bytes', 'LastModified': datetime.datetime(2024, 2, 4, 11, 50, 49, tzinfo=tzutc()), 'ContentLength': 575001, 'ETag': '"4519c123c24b4c66156437090ea3ce71"', 'ContentType': 'binary/octet-stream', 'ServerSideEncryption': 'AES256', 'Metadata': {}, 'Body': <botocore.response.StreamingBody object at 0x1747b14c0>}

,id,activity,athlete,lap_index,split,start_index,end_index,moving_time,start_date_local,distance,average_speed,max_speed,total_elevation_gain,average_cadence,average_watts,average_heartrate,max_heartrate,pace_zone
0,36999975620,10692823418,98364076,1,1,0,261,373,2024-02-04T09:29:49Z,1000.00,2.68,4.824,16.8,86.5,387.4,148.0,163.0,1.0
1,36999975632,10692823418,98364076,2,2,262,638,376,2024-02-04T09:36:04Z,1000.00,2.66,3.236,4.2,86.8,355.6,151.4,156.0,1.0
2,36999975642,10692823418,98364076,3,3,639,1011,373,2024-02-04T09:42:21Z,1000.00,2.68,3.158,2.2,86.6,351.9,148.9,153.0,1.0
3,36999975651,10692823418,98364076,4,4,1012,1378,366,2024-02-04T09:48:34Z,1000.00,2.73,3.390,0.0,86.4,357.9,151.6,156.0,2.0
4,36999975665,10692823418,98364076,5,5,1379,1688,310,2024-02-04T09:54:41Z,842.23,2.72,3.370,0.0,85.8,365.5,153.9,158.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5004,21675850025,6609742603,98364076,2,2,118,155,423,2022-01-29T18:18:07Z,268.70,0.64,2.016,0.0,58.9,NaN,NaN,NaN,NaN
5005,21675849028,6609742298,98364076,1,1,0,83,772,2022-01-28T12:30:28Z,649.66,0.84,2.333,39.5,58.3,NaN,NaN,NaN,NaN
5006,21675851079,6609742928,98364076,1,1,0,182,756,2022-01-26T19:19:27Z,1000.00,1.32,2.501,15.3,56.0,NaN,NaN,NaN,NaN
5007,21675851081,6609742928,98364076,2,2,183,197,416,2022-01-26T19:32:09Z,217.27,0.52,1.869,0.0,60.8,NaN,NaN,NaN,NaN
5008,21675849720,6609742516,98364076,1,1,0,95,873,2022-01-26T17:17:12Z,767.94,0.88,2.137,6.8,55.7,NaN,NaN,NaN,NaN

In [10]:
from Collect_data import TransformerLap

transformer = TransformerLap(existing_data)

In [11]:
new_data = transformer.transform_data()

In [12]:
from io import StringIO
csv_buffer = StringIO()
new_data.to_csv(csv_buffer, index=False)
s3.put_object(Body=csv_buffer.getvalue(), Bucket=s3_bucket, Key=s3_key_lap)

{'ResponseMetadata': {'RequestId': '1X9SRN4468XMTEWH',
  'HostId': 'n2r9qM9srpQDQUITipufPIn/kzxJjejAS0KwaCM1XCnwNUNfhSE+bSKfcv1MT8XnXWNC337gjF8=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'n2r9qM9srpQDQUITipufPIn/kzxJjejAS0KwaCM1XCnwNUNfhSE+bSKfcv1MT8XnXWNC337gjF8=',
   'x-amz-request-id': '1X9SRN4468XMTEWH',
   'date': 'Sun, 04 Feb 2024 11:48:27 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"dfcd65e47673d39fd5cc36166087dc3f"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"dfcd65e47673d39fd5cc36166087dc3f"',
 'ServerSideEncryption': 'AES256'}

In [10]:
olumns = ['id', 'activity', 'athlete', 'lap_index', 'split', 'start_index', 'end_index','moving_time', 'start_date_local', 'distance', 'average_speed', 'max_speed',
                        'total_elevation_gain', 'average_cadence','average_watts', 'average_heartrate',
                        'max_heartrate', 'pace_zone']

existing_data = existing_data[olumns]
existing_data = existing_data.drop_duplicates(subset=['id'])

In [11]:
existing_data.to_csv("strava_laps.csv", index=False)

In [12]:
os.getcwd()

'/Users/theocostes/Documents/repos/SynchronizeRunningData'

              id
0    10692823418
1    10682415648
2    10672381562
3    10660161665
4    10651550873
..           ...
394   6609742603
395   6609742298
396   6609742928
397   6609742516
398   6609742517

[399 rows x 1 columns]

In [19]:
try :
    test = existing_data_id[['id', "test", "test2", "abc"]]
except KeyError as e:
    print(str(e).split("]")[0].split("[")[1].replace("'","").split(", "))

['test', 'test2', 'abc']