In [1]:
import boto3
import pandas as pd
import os
import sys
import json
import requests

In [2]:
os.chdir("..")
os.getcwd()

'/Users/theocostes/Documents/repos/SynchronizeRunningData'

In [15]:
try :
    from config import AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY
except:
    AWS_ACCESS_KEY_ID = os.environ.get("AWS_ACCESS_KEY_ID")
    AWS_SECRET_ACCESS_KEY = os.environ.get("AWS_SECRET_ACCESS_KEY")

In [4]:

s3_bucket = "datarunning"
s3_key_id = "strava_id.csv"
s3_key_activities = "strava.csv"
s3_key_lap = "strava_laps.csv"


print(AWS_ACCESS_KEY_ID)
print(AWS_SECRET_ACCESS_KEY)
# AWS_SESSION_TOKEN = os.getenv("AWS_SESSION_TOKEN")

AKIARGIJGSFVUPB6ZHFM
JevW5SIZ5QtiZF5RkL+khNTGQqyZ0NT0F/66zgF8

In [5]:

s3 = boto3.client(
    "s3",
    aws_access_key_id=AWS_ACCESS_KEY_ID,
    aws_secret_access_key=AWS_SECRET_ACCESS_KEY,
)

In [6]:
try:
    response = s3.get_object(Bucket=s3_bucket, Key=s3_key_activities)
    print(response)
    existing_data = pd.read_csv(response['Body'])
except Exception as e:
    # If the file doesn't exist, you might want to handle this case based on your requirements
    print("ERROR :", e)
    existing_data = pd.DataFrame()

{'ResponseMetadata': {'RequestId': '7YC3TXRKSPAWT1BS', 'HostId': 'R3F0JfgD3ZSZ5Tlyyr9Vou1r6ezNP2aVPUzELynXctlmIVqq4gnee5GLyNPCgBWRmt8wcdGA36hln3YheGilyg==', 'HTTPStatusCode': 200, 'HTTPHeaders': {'x-amz-id-2': 'R3F0JfgD3ZSZ5Tlyyr9Vou1r6ezNP2aVPUzELynXctlmIVqq4gnee5GLyNPCgBWRmt8wcdGA36hln3YheGilyg==', 'x-amz-request-id': '7YC3TXRKSPAWT1BS', 'date': 'Sat, 03 Feb 2024 21:19:09 GMT', 'last-modified': 'Sat, 03 Feb 2024 21:17:13 GMT', 'etag': '"fa17f541da944d174237236293823841"', 'x-amz-server-side-encryption': 'AES256', 'accept-ranges': 'bytes', 'content-type': 'binary/octet-stream', 'server': 'AmazonS3', 'content-length': '66736'}, 'RetryAttempts': 0}, 'AcceptRanges': 'bytes', 'LastModified': datetime.datetime(2024, 2, 3, 21, 17, 13, tzinfo=tzutc()), 'ContentLength': 66736, 'ETag': '"fa17f541da944d174237236293823841"', 'ContentType': 'binary/octet-stream', 'ServerSideEncryption': 'AES256', 'Metadata': {}, 'Body': <botocore.response.StreamingBody object at 0x13ec6f400>}

In [8]:
existing_data.head(500)

,id,athlete,name,type,start_date_local,distance,moving_time,total_elevation_gain,sport_type,workout_type,...,pr_count,total_photo_count,suffer_score,numero_semaine_prepa,numero_seance_semaine,type_seance,prepa_name,average_pace,moving_time_minute,moving_time_hour
0,10682415648,98364076,S9/18 - 4/5 - Prépa MDP - Footing EF,Run,2024-02-02T18:54:45Z,7285.6,2700,25.0,Run,0.0,...,0,0,46.0,S9/18,4/5,Footing EF,Prépa MDP,6.179197,45.000000,0.750000
1,10672381562,98364076,S9/18 - 3/5 - Prépa MDP - Seuil60,Run,2024-02-01T07:17:30Z,11240.6,3750,52.0,Run,0.0,...,3,0,93.0,S9/18,3/5,Seuil60,Prépa MDP,5.560704,62.500000,1.041667
2,10660161665,98364076,S9/18 - 2/5 - Prépa MDP - VMA,Run,2024-01-30T06:30:13Z,7597.5,2704,40.0,Run,0.0,...,0,0,46.0,S9/18,2/5,VMA,Prépa MDP,5.928854,45.066667,0.751111
3,10651550873,98364076,S9 - 1/5 - Prépa MDP - Footing EF,Run,2024-01-29T06:40:30Z,6279.4,2400,51.0,Run,0.0,...,0,0,21.0,S9,1/5,Footing EF,Prépa MDP,6.369427,40.000000,0.666667
4,10640863987,98364076,S8 - 5/5 - Prépa MDP - endurance active,Run,2024-01-27T15:59:54Z,10838.8,3602,57.0,Run,0.0,...,1,0,111.0,S8,5/5,endurance active,Prépa MDP,5.540166,60.033333,1.000556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,8575176024,98364076,Sortie longue au soleil ☀️,Run,2023-02-17T09:40:56Z,16593.4,6004,15.0,Run,0.0,...,18,0,157.0,Sortie longue au soleil ☀️,NaN,NaN,NaN,6.030151,100.066667,1.667778
196,8569765490,98364076,Morning Run,Run,2023-02-16T09:51:29Z,7405.8,2704,6.0,Run,0.0,...,7,0,60.0,Morning Run,NaN,NaN,NaN,6.085193,45.066667,0.751111
197,8557887761,98364076,Préparation Semi de Paris,Run,2023-02-14T06:16:46Z,12937.2,4443,63.0,Run,0.0,...,1,0,131.0,Préparation Semi de Paris,NaN,NaN,NaN,5.725191,74.050000,1.234167
198,8552688653,98364076,Morning Run,Run,2023-02-13T07:23:55Z,8155.3,3068,21.0,Run,NaN,...,0,0,52.0,Morning Run,NaN,NaN,NaN,6.269592,51.133333,0.852222
199,8547142084,98364076,Morning Run,Run,2023-02-12T10:17:05Z,8655.1,3262,22.0,Run,NaN,...,0,0,81.0,Morning Run,NaN,NaN,NaN,6.282723,54.366667,0.906111

In [9]:
try:
    response = s3.get_object(Bucket=s3_bucket, Key=s3_key_lap)
    print(response)
    existing_data = pd.read_csv(response['Body'])
except Exception as e:
    # If the file doesn't exist, you might want to handle this case based on your requirements
    print("ERROR :", e)
    existing_data = pd.DataFrame()
existing_data

{'ResponseMetadata': {'RequestId': 'E2RDX82792N85JSY', 'HostId': '5YERR7pHCGlWo6OiY3wBaJadKzCu8C8JyXbK4HUzWwq0c3sayZinXhgidXvPR9+F6DBhDUhPh3k=', 'HTTPStatusCode': 200, 'HTTPHeaders': {'x-amz-id-2': '5YERR7pHCGlWo6OiY3wBaJadKzCu8C8JyXbK4HUzWwq0c3sayZinXhgidXvPR9+F6DBhDUhPh3k=', 'x-amz-request-id': 'E2RDX82792N85JSY', 'date': 'Sat, 03 Feb 2024 21:24:34 GMT', 'last-modified': 'Sat, 03 Feb 2024 21:17:14 GMT', 'etag': '"9af1afe1f1ed879b5f042f022e7cd8e4"', 'x-amz-server-side-encryption': 'AES256', 'accept-ranges': 'bytes', 'content-type': 'binary/octet-stream', 'server': 'AmazonS3', 'content-length': '381904'}, 'RetryAttempts': 0}, 'AcceptRanges': 'bytes', 'LastModified': datetime.datetime(2024, 2, 3, 21, 17, 14, tzinfo=tzutc()), 'ContentLength': 381904, 'ETag': '"9af1afe1f1ed879b5f042f022e7cd8e4"', 'ContentType': 'binary/octet-stream', 'ServerSideEncryption': 'AES256', 'Metadata': {}, 'Body': <botocore.response.StreamingBody object at 0x13eda8ca0>}

,Unnamed: 0,id,resource_state,name,activity,athlete,elapsed_time,moving_time,start_date,start_date_local,...,split,start_index,end_index,total_elevation_gain,average_cadence,device_watts,average_watts,average_heartrate,max_heartrate,pace_zone
0,NaN,36956186066,2,Lap 1,10682415648,98364076,2756,2700,2024-02-02T17:54:45Z,2024-02-02T18:54:45Z,...,1,0,2507,26.2,85.8,True,351.9,146.7,155.0,2.0
1,NaN,36916227106,2,Lap 1,10672381562,98364076,1200,1200,2024-02-01T06:17:30Z,2024-02-01T07:17:30Z,...,1,0,1078,8.8,86.0,True,349.7,138.6,152.0,2.0
2,NaN,36916227110,2,Lap 2,10672381562,98364076,300,300,2024-02-01T06:37:31Z,2024-02-01T07:37:31Z,...,2,1079,1378,0.0,91.0,True,451.8,166.0,170.0,4.0
3,NaN,36916227112,2,Lap 3,10672381562,98364076,90,90,2024-02-01T06:42:31Z,2024-02-01T07:42:31Z,...,3,1379,1468,0.0,85.9,True,353.8,154.1,170.0,1.0
4,NaN,36916227117,2,Lap 4,10672381562,98364076,300,300,2024-02-01T06:44:01Z,2024-02-01T07:44:01Z,...,4,1469,1768,8.6,91.2,True,469.5,168.2,173.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2398,NaN,28873652102,2,Lap 17,8552688653,98364076,15,15,2023-02-13T07:13:00Z,2023-02-13T08:13:00Z,...,17,2886,2900,0.0,96.3,True,498.3,155.7,158.0,6.0
2399,NaN,28873652103,2,Lap 18,8552688653,98364076,45,45,2023-02-13T07:13:15Z,2023-02-13T08:13:15Z,...,18,2901,2928,0.0,83.9,True,319.1,165.8,177.0,1.0
2400,NaN,28873652104,2,Lap 19,8552688653,98364076,15,15,2023-02-13T07:14:00Z,2023-02-13T08:14:00Z,...,19,2928,2928,0.0,100.1,True,543.8,177.1,179.0,6.0
2401,NaN,28873652107,2,Lap 20,8552688653,98364076,45,45,2023-02-13T07:14:15Z,2023-02-13T08:14:15Z,...,20,2928,2928,0.0,68.5,True,210.7,175.0,183.0,1.0
2402,NaN,28873652108,2,Lap 21,8552688653,98364076,8,8,2023-02-13T07:15:00Z,2023-02-13T08:15:00Z,...,21,2928,2928,0.0,61.8,True,134.8,157.1,161.0,1.0

In [10]:
existing_data.columns

Index(['Unnamed: 0', 'id', 'resource_state', 'name', 'activity', 'athlete',
       'elapsed_time', 'moving_time', 'start_date', 'start_date_local',
       'distance', 'average_speed', 'max_speed', 'lap_index', 'split',
       'start_index', 'end_index', 'total_elevation_gain', 'average_cadence',
       'device_watts', 'average_watts', 'average_heartrate', 'max_heartrate',
       'pace_zone'],
      dtype='object')

In [12]:
olumns = ['id', 'activity', 'athlete', 'lap_index', 'split', 'start_index', 'end_index','moving_time', 'start_date_local', 'distance', 'average_speed', 'max_speed',
                        'total_elevation_gain', 'average_cadence','average_watts', 'average_heartrate',
                        'max_heartrate', 'pace_zone']

existing_data = existing_data[olumns]
existing_data = existing_data.drop_duplicates(subset=['id'])

In [13]:
existing_data.to_csv("strava_laps.csv", index=False)

In [14]:
os.getcwd()

'/Users/theocostes/Documents/repos/SynchronizeRunningData'